.servicepage-wrapper{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #494b4c6e;
}

/* .servicepage-container{
  height: 500px;
} */

.servicepage-heading-wrapper{
  padding-top: 2rem;
  color: #70e4f0;
}
.servicepage-para{
  text-align: center;
  /* margin-bottom: 2rem; */
}

.servicepage-main-container-wrapper{
  background-color: white;
  width: 100%;
}

.servicepage-main-container{
  display: flex;

}

.servicepage-main-container-cardimage{
  width: 30%;
  height: 500px;
}

.servicepage-main-container-points{
  width: 70%;
  margin: 3rem;
}

.service-image{
  width: 100%;
  height: 100%;
}
.servicepage-heading{
  font-size: 2.5rem;
  text-align: center;
}

.servicepage-card-heading{
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #4a91a0;
}

.servicepage-points-wrapper{
  display: flex;
}

.servicepage-points-list{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.servicepage-list{
  list-style: none;
  border: 2px solid #4a91a0;
  padding: 0.5rem;
}

@media (max-width: 1200px) {
  
.servicepage-main-container{
  display: flex;
  flex-wrap: wrap;
}
.servicepage-main-container-cardimage{
  width: -webkit-fill-available;
  height: 500px;
}
}