

.servicepage-wrapper{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background: 
        radial-gradient(circle at 5% 10%, rgba(41, 170, 184, 0.784) 10%, rgba(30, 116, 145, 0.666) 30%, transparent 50%), 
        radial-gradient(circle at 95% 90%, rgba(61, 219, 237, 0.6) 10%, rgba(40, 151, 188, 0.3) 30%, transparent 50%), 
        radial-gradient(circle at center, rgb(29, 109, 118) 10%, rgba(10, 40, 50, 0.2) 30%, transparent 50%), 
        rgb(3, 15, 20);
    overflow: hidden;
    padding-bottom: 90px;
    position: relative;
}

.servicepage-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicepage-heading-wrapper{
  padding-top: 2rem;
}
.servicepage-para{
  text-align: center;
  font-family: var(--font1);
  color: var(--white);
  font-size: 20px;
  /* margin-bottom: 2rem; */
}

.servicepage-main-container-wrapper{
  background: rgba(255, 255, 255, 0.1); /* Transparent White */
  border-radius: 23px;
  backdrop-filter: blur(30px); /* Blur Effect */
  -webkit-backdrop-filter: blur(10px); /* Safari Support */
  border: 1.5px solid rgba(255, 255, 255, 0.4); /* Soft Border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle Shadow */
  width: 90%;
}

.servicepage-main-container{
  display: flex;
  height: 400px;
}

.servicepage-main-container-cardimage{
  width: 30%;
  height: 500px;
}

.servicepage-main-container-points{
  width: 70%;
  margin: 3rem;
}

.service-image{
  width: 100%;
  height: 400px;
  border-radius: 23px 0px 0px 23px;
}


.servicepage-heading{
  font-size: 2.9rem;
  text-align: center;
  font-family: var(--font1);
  color: var(--white);
  font-family: var(--font1);
  font-weight: 500;
}

.servicepage-card-heading{
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: var(--white);
  font-family: var(--font1);
}

.servicepage-points-wrapper{
  display: flex;
}

.servicepage-points-list{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.servicepage-list{
  list-style: none;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  padding: 0.5rem 0.9rem;
  color: var(--white);
  font-family: var(--font1);
}

@media (max-width: 1200px) {
  
.servicepage-main-container{
  display: flex;
  flex-wrap: wrap;
}
.servicepage-main-container-cardimage{
  width: -webkit-fill-available;
  height: 500px;
}
}