/* Global styles */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

/* Navbar starts */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 2.4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #050505;
}

.navbar-bg {
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* background-color: #050505; */
  background-color: var(--primary);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 26px 24px 90px 0 rgba(87, 183, 171, 0.19);
}

.nav-fav-btn {
  border: none;
  background-color: unset;
  display: flex;
  align-items: center;
}

.nav-fav {
  width: 20px;
  height: 20px;
}

.logo {
  width: 150px;
  /* height: 50px; */
}

.navbar-container {
  display: contents;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
}

.link {
  position: relative;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #4a91a0;
  transition: width 0.4s ease-in-out;
}

.link:hover {
  color: #4a91a0;
}

.link:hover::after {
  width: 100%;
}

.nav-btn {
  display: flex;
  gap: 2rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 43px;
}

.call-btn {
  border: none;
  background-color: unset;
  color: #4a91a0;
  font-size: 30px;
}

.bars {
  display: none;
  color: #333;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.show-nav {
  opacity: 1;
  visibility: visible;
}

.nav-link {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 850px) {
  .nav-links {
    display: none;
  }

  .bars {
    display: block;
  }
}
/* Navbar ends */

/* GalleryForm section starts */

/* GalleryForm Styles */
.gallery-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-form h2 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

.gallery-form label {
  display: block;
  color: #333333;
  margin-bottom: 8px;
  font-weight: bold;
}

.gallery-form input[type="text"],
.gallery-form textarea,
.gallery-form input[type="file"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
  color: #2c3e50;
}

.gallery-form input[type="file"] {
  padding: 8px;
}

.gallery-form img {
  display: block;
  margin: 10px auto;
  width: 100px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.gallery-form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 4px;
  background-color: #4a91a0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gallery-form button:hover {
  background-color: #ff6f61;
}

.gallery-form .form-section {
  margin-bottom: 20px;
}

.gallery-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* GalleryForm section ends */

/* ServiceList section starts */
.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.service-item {
  width: 200px;
  text-align: center;
}

.service-item img {
  width: 100%;
  height: auto;
}

.service-item button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.service-item button:hover {
  background-color: darkred;
}
/* ServiceList section ends */

 /* contact us csss start */


/* form css start */
.cta-contact-main {
  margin-top: 5.5rem;
}

.form {
  display: flex;
  align-items: start;
  gap: 15px;
  flex-direction: column;
  padding: 40px 40px;
  height: fit-content;
  width: 450px;

  input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid  #4a91a0;
    }
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 500px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid  #4a91a0;
    }
  }

  label {
    opacity: 0.7;
    margin-top: 1rem;
  }

  input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background:  #4a91a0;
    color: white;
    border: none;
  }

  select {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    opacity: 0.7;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

  }
}

/* end */

/* ContactMain css start */
.ContactMain {
  height: fit-content;
  padding-bottom: 5%;
  widows: 100%;
  background-image: url("../asset/imgs/Home\ page\ 2nd\ Image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 100vh;
      color: white;
      padding: 0px 20px;
      text-align: center;

      h1 {
        font-size: 2.5rem;
        font-weight: 500;
        -webkit-text-stroke: 1px black
      }


    }

    .ContactUs {
      background-color: #fdf5f5;
      border-radius: 30px;
    }

  }

}

/* wrap card start */

.wrapper {
  height: fit-content;
  box-sizing: border-box;
  padding: 10% 5%;

  .container {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: fit-content;
    border-radius: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 40px 20px;

    .cta-card {
      border: 1px solid  #4a91a0;
      margin: 10px 20px;
      height: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        text-align: center;
        opacity: 0.7;
        width: 334px;
        height: 60px;
        margin: 23px 0px;

        span {
          font-weight: 500;
        }
      }

      .css-i4bv87-MuiSvgIcon-root {
        color:  #4a91a0;
        font-size: 2.6rem;
      }

    }
  }

}

/* wrapper end */

/* hover start */
.cta-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {

    font-size: 60px;
    margin: 50px;
  }

  i {
    color:  #4a91a0;

  }

  i:hover {
    color: black;
  }

  p {
    font-size: 20px;
    align-items: center;
    margin: -30px;
    opacity: 0.7;
  }


}

.cta-map {
  margin: 50px;
}

/* branch start */
.card-container {
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns with equal width */
  gap: 10px;
  padding: 0 5%;
}

.branch-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid  #4a91a0;
  border-radius: 10px;
  padding: 5%;

  .cta-branch {
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    img {
      width: 50%;
      height: 50%;
    }

    p {
      width: 100%;
      text-align: center;
      justify-content: center;
      opacity: 0.7;
    }

    h1 {
      font-size: 20px;
    }

    a {
      text-decoration: none;
    }

    button {
      background-color:  #4a91a0;
      color: white;
      padding: 16px 50px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      font-size: 16px;

    }
  }
}

@media (max-width: 980px) {

  .wrapper .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card-container {

    padding: 5%;

  }
}

@media (max-width: 789px) {
  .wrapper {
    padding: 0%;
  }
}

.cta-icon {
  margin-top: 38px;
}

@media (max-width: 870px) {

  .ContactMain .item {
    display: block;
  }

  .ContactMain .item .content {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding: 35px 0px;
  }

  .form {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }

  .ContactMain .item .ContactUs {
    margin: 0px 30px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
    gap: 10px;
  }
}

@media(max-width:600px) {

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }

  .cta-hover h1 {
    font-size: 1.8rem;
  }

  .cta-hover p {
    font-size: 15px;
  }
}

@media(max-width:400px) {

  .ContactMain .item .ContactUs {
    margin-top: -140px;
  }

  .ContactMain .item .content h1 {
    font-size: 2rem;
    margin-bottom: 140px;
  }

  .wrapper .container .cta-card p {
    width: -webkit-fill-available;
  }
  .cta-hover p {
    font-size: 16px;
  }
}





/* Footer Section starts */


.footer{
  /* background-color: var(--primary); */
  background: transparent;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 10px 50px;
  color:#fff!important;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
  font-family: var(--font1);
}

/* Footer left */

.footer .footer-left{
	width: 40%;
}


.footer h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
  font-family: var(--font1);
}

.footer h3 span{
	/* color:  teal; */
  color: var(--main);
  font-family: var(--font1);
}

/* Footer links */

.footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
  font-family: var(--font1);
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
  font-family: var(--font1);
}

.footer .footer-name{
  /* color: teal; */
  color: var(--main);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
  font-family: var(--font1);
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
  font-family: var(--font1);
}

.footer .footer-center p a{
	/* color:  teal; */
  color: var(--main);
	text-decoration: none;
  font-family: var(--font1);
}

.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer .footer-right{
	width: 20%;
}

.footer .footer-about{
	line-height: 20px;
	/* color:  #92999f; */
  color: var(--text);
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  font-family: var(--font1);
}

.footer .footer-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
  font-family: var(--font1);
}

.footer .footer-socials{
	margin-top: 25px;
}

.footer .footer-socials a{
	display: inline-block;
	font-size: 35px;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
  font-family: var(--font1);
}

.footer .logo {
    max-width: 100px;
    height: 50px;
    width: 100px;
    border-radius: 50%; 
    margin-bottom: 15px;
    font-family: var(--font1);
}

.footer1 {
  position: relative;
  background: #05b3a4;
  height: 300px;
  padding: 5px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.imgur.com/ZAts69f.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}



@media (max-width: 800px) {

	.footer{
		font: bold 14px sans-serif;
	}

	.footer .footer-left,
	.footer .footer-center,
	.footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .footer-center i{
		margin-left: 0;
	}

}

/* Footer Section ends */

/* contact section start */

.contact-card{
  background-color: red;
}

.contact-bg{
  background: 
      radial-gradient(circle at 5% 10%, rgba(29, 109, 118, 0.784) 10%, rgba(15, 60, 75, 0.666) 30%, transparent 50%), 
      radial-gradient(circle at 95% 90%, rgba(29, 109, 118, 0.6) 10%, rgba(27, 108, 135, 0.3) 30%, transparent 50%), 
      radial-gradient(circle at center, rgb(29, 109, 118) 10%, rgba(10, 40, 50, 0.2) 30%, transparent 50%), 
      rgb(3, 15, 20);
}

.glass-bg{
  background: rgba(255, 255, 255, 0.1); /* Transparent White */
  border-radius: 15px;
  backdrop-filter: blur(10px); /* Blur Effect */
  -webkit-backdrop-filter: blur(10px); /* Safari Support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Soft Border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle Shadow */
}